*{
    margin: 0%;
    padding: 0%;
}


#navbarNav{
    display: flex;
    flex-direction: row-reverse;
  
 }

 .container-fluid{
    background-color: rgba(88, 77, 62, 0.521);
    color: white;
 }

 footer{
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(88, 77, 62, 0.521);
    

}





