*{
    margin: 0%;
    padding: 0%;
}

h1{
    background-color: aquamarine;
}

.nav-link{

    color: white;
}

.container-fluid{
    background-color: rgb(116, 77, 29);
    color: white;
    
    
   
}

#navbarNav{
    display: flex;
    flex-direction: row-reverse;
    
}

footer{
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(116, 77, 29);
    

}

