*{
    margin: 0%;
    padding: 0%;
}



.container-fluid{
    background-color: rgb(226, 190, 146);
    color: white;
    
    
   
}

#navbarNav{
    display: flex;
    flex-direction: row-reverse;
   
}

#carouselExample img{
    width: 100%;
    height: auto;
  
    
 
}

.testos{
    width:50%;
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: rgb(250, 241, 228);
    padding: 10px;
    

}

#cards{

    width:100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    background-color:rgb(209, 193, 174) ;
    text-align: center;
    align-items: center;



}


footer{
    display: flex;
    justify-content: center;
    background-color: rgb(226, 190, 146);
}

















    